body {
    font-family: 'Arial', sans-serif;
    background-color: #FFFF80;
    color: #FFAA80;
    text-align: center;
    padding: 20px;
    margin: 0;
}
h1 {
    color: #FF5580;
    font-size: 4em;
    margin-top: 0;
    font-family: "Sacramento", cursive;
}
p {
    font-size: 3em;
    margin: 10px 0;
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
}
button {
    background-color: #FF5580;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 2em;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}
button:hover {
    background-color: #FF0080;
}
img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

video {
    margin-top: 20px;
    width: 100%;
}

